# App Version
version: 1.0.0

# env:
#   APP_URL: "http://example.k8s.fw.digital"
#   DATABASE_HOST: "{{ .Release.Name }}-database"
#   DATABASE_DATABASE: "database"
#   DATABASE_USER: "user"
#   DATABASE_PASS: "pass"
#   REDIS_HOST: "{{ .Release.Name }}-cache"

# storage:
#   enabled: true
#   size: 1Gi
#   mountPath: /app/storage
# app:
#   replicas: 1
#   image:
#     repository: fireworkweb/app
#     tag: latest
#     pullPolicy: Always
#     # pullSecret:
#   port: 9000
# http:
#   replicas: 1
#   image:
#     repository: fireworkweb/http
#     tag: latest
#     pullPolicy: Always
#     # pullSecret:
#   port: 80
# worker:
#   replicas: 1
#   image:
#     repository: fireworkweb/app
#     tag: latest
#     pullPolicy: Always
#     pullSecret:

# optional
# cache:
#   image:
#     repository: redis
#     tag: 5.0-alpine
#     pullPolicy: Always
#   size: 1Gi
#   port: 6379
# database:
#   image:
#     repository: mysql
#     tag: 8.0
#     pullPolicy: Always
#   args: ["--default-authentication-plugin=mysql_native_password"]
#   size: 1Gi
#   port: 3306
#   env:
#     MYSQL_ROOT_PASSWORD: rootpass
#     MYSQL_DATABASE: database
#     MYSQL_USER: user
#     MYSQL_PASSWORD: pass

# ingress:
#   annotations:
#     kubernetes.io/ingress.class: nginx
#     cert-manager.io/cluster-issuer: acme
#   hosts:
#     - example.k8s.fw.digital
#   tls:
#    - secretName: chart-example-tls
#      hosts:
#        - example.k8s.fw.digital
